:host {
    width: 100%;
    min-height: 3rem;
    padding: .5rem .7rem;
    background-color: #48637d;
    border-bottom: 1px solid #434461;

    h1 {
        font-size: 2rem;
        
        img {
            height: 3rem;
        }
    }
}